<%- include('partials/header'); -%>

<header>
    <div class="smoothie">
      <img src="/robot.png" alt="">
    </div>
    <div class="headings">
      <h2>Signup</h2>
      <p>This is the signup page.</p>
    </div>
  </header>

<%- include('partials/footer'); -%>